@font-face {
	font-family: "Poppins";
	src: url('./fonts/Poppins-Medium.ttf');
}

body {
	background-color: #004c4c;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.navbar {
	background-color: #008080;
	width: 60%;
	border: 2px solid black;
	border-radius: 15px;
	z-index: 1000;
	margin-bottom: 30px;
	position: sticky;
	top: 8px;
	transition: opacity 0.3s ease-in-out;

}

.navbar.hidden {
	opacity: 0;
}

.navbar.visible {
	opacity: 1;
}

.navList {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: cyan;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding: 10px 12px;
	margin: 0;

}

.navList a {
	text-decoration: none;
	color: inherit;
}

.navItems {
	cursor: pointer;
	box-sizing: border-box;
	transition: 0.25s;


}

.navItems:hover {
	color: #004c4c;
	background: cyan;
	border-radius: 5px;
	padding: 0px 2px;

}

.homeContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 70%;
	padding-bottom: 20px;
	border-bottom: 2px solid #008080;
	margin-bottom: 35px;
}

.displayPic {
	height: 255px;
	width: 255px;
	border: 4px solid #008080;
	border-radius: 50%;
	background-color: #008080;
}

.myName {
	color: cyan;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-size: 48px;
	font-weight: 600;
}

.aboutTxt {
	color: #D1D9E0;
	font-size: 24px;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-weight: 400;
	text-align: justify;
	margin-bottom: 30px;
}

.myBtn {
	display: flex;
	gap: 20px;
}

.Btn {
	color: cyan;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 300;
	background-color: #008080;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px 10px;
	transition: 0.25s;
	cursor: pointer;

}

.Btn:hover {
	color: #004c4c;
	background: cyan;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px 12px;
	cursor: pointer;

}

.eduContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 70%;
	padding-bottom: 20px;
	border-bottom: 2px solid #008080;
	margin-bottom: 35px;
}

.secTitle {
	margin: 0;
	color: cyan;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: 400;
}

.eduCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #008080;
	border-radius: 5px;
	width: 100%;
	gap: 10px;

}

.eduCard div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.eduCard h2,
p,
p {
	margin: 5px;
}

.eduCard h2 {
	font-size: 28px;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-weight: 300;
	color: cyan;

}

.eduCard .degree {
	font-size: 18px;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #D1D9E0;
}

.eduTimeline {
	font-size: 14px;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #D1D9E0;
}

.institutePic {
	height: 80px;
	width: 80px;
	margin-top: 10px;
}

.skillContainer {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid #008080;
	margin-bottom: 35px;

}

.skillShowcase {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.skillIcon {
	height: 120px;
	width: 120px;
	transition: 0.25s;
	box-sizing: border-box;
}

.skillIcon:hover {
	border: 1px solid #008080;
	padding: 1px;
	border-radius: 5px;
}

.projectContainer {
	width: 70%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 35px;
	border-bottom: 2px solid #008080;
	margin-bottom: 35px;
}

.contactContainer {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding-bottom: 20px;
}

.contactBox {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.contactIcon {
	height: 32px;
	width: 32px;
	margin-bottom: 5px;
}

.contactCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 24%;
	height: 100px;
}

.contactCard p {
	font-size: 18px;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	color: #D1D9E0;
	font-weight: 300;
	margin: 0;
}

.contactCard a {
	text-decoration: none;
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 35px;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	color: gray;
	font-size: 10px;

}



@media screen and (max-width: 1600px) {
	.contactBox {
		flex-direction: column;
		gap: 20px;
	}

	.contactCard {
		width: 40%;
	}
}

@media screen and (max-width: 1168px) {
	.navbar {
		width: 90%;
		border-radius: 12px;
	}

	.navList {
		font-size: 16px;
		justify-content: space-around;
		align-items: center;
		gap: 12px;
		padding: 4px 12px;

	}
	.homeContainer{
		width: 90%;
	}
	.aboutTxt {
		width: 100%;
	}

	.eduCard {
		width: 100%;
	}

	.eduInfo h2 {
		font-size: 18px;
		text-align: center;
		width: 100%;
	}

	.eduInfo p {
		font-size: 15px;
		text-align: center;
		width: 100%;
	}

	.contactCard {
		width: 40%;
	}

	.footer p {
		font-size: 10px;
	}
}

@media screen and (max-width: 768px) {
	.navbar {
		width: 95%;
		border-radius: 12px;
	}

	.navList {
		font-size: 14px;
		justify-content: space-around;
		align-items: center;
		gap: 10px;
		padding: 4px 12px;

	}
	.homeContainer{
		width: 95%;
	}
	.myName {
		font-size: 28px;
	}

	.aboutTxt {
		width: 100%;
	}

	.eduCard {
		width: 100%;
	}

	.eduInfo h2 {
		font-size: 18px;
		text-align: center;
		width: 100%;
	}

	.eduInfo p {
		font-size: 15px;
		text-align: center;
		width: 100%;
	}

	.skillIcon {
		height: 100px;
		width: 100px;
	}

	.contactCard {
		width: 60%;
	}

	.footer p {
		font-size: 10px;
	}
}

@media screen and (max-width: 630px) {
	.navbar {
		width: 95%;
		border-radius: 12px;
	}

	.navList {
		font-size: 14px;
		justify-content: space-around;
		align-items: center;
		gap: 10px;
		padding: 4px 12px;

	}
	.homeContainer{
		width: 95%;
	}
	.aboutTxt {
		width: 95%;
		font-size: 18px;

	}
	.eduContainer{
		width: 95%;
	}
	.eduCard {
		width: 100%;
	}

	.eduInfo h2 {
		font-size: 18px;
		text-align: center;
		width: 100%;
	}

	.eduInfo p {
		font-size: 15px;
		text-align: center;
		width: 100%;
	}

	.skillIcon {
		height: 90px;
		width: 90px;
	}

	.projectContainer .secTitle {
		font-size: 24px;
	}

	.footer p {
		font-size: 9px;
	}
}

@media screen and (max-width: 500px) {
	.navbar {
		width: 95%;
		border-radius: 12px;
	}

	.navList {
		font-size: 14px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;

		gap: 10px;
		padding: 4px 12px;

	}
	
	.displayPic {
		height: 180px;
		width: 180px;

	}

	.myName {
		font-size: 16px;
	}
	.homeContainer{
		width: 95%;
	}
	.aboutTxt {
		width: 100%;
		font-size: 18px;

	}
	.eduContainer{
		width: 95%;
	}
	.eduCard {
		width: 100%;
	}

	.eduInfo h2 {
		font-size: 18px;
		text-align: center;
		width: 100%;
	}

	.eduInfo p {
		font-size: 15px;
		text-align: center;
		width: 100%;
	}

	.skillIcon {
		height: 60px;
		width: 60px;
	}

	.projectContainer .secTitle {
		text-align: center;
	}

	.contactCard {
		width: 70%;
	}

	.footer p {
		font-size: 9px;
		text-align: center;
	}

}

@media screen and (max-width: 430px) {

	.navbar {
		width: 100%;
		border-radius: 5px;
	}

	.navList {
		font-size: 12px;
		display: flex;
		justify-content: space-around;
		gap: 0;
		padding: 4px 12px;

	}

	.homeContainer {
		width: 90%;
	}

	.aboutTxt {
		width: 100%;
	}

	.eduContainer {
		width: 90%;
	}

	.eduInfo h2 {
		font-size: 18px;

	}

	.skillContainer {
		width: 95%;
	}

	.skillShowcase {
		gap: 10px;
	}

	.projectContainer {
		width: 90%;
	}

	.projectContainer .secTitle {
		text-align: center;
	}

	.contactContainer {
		width: 90%;
	}

	.contactCard {
		width: 100%;
	}

	.contactCard p {
		text-align: center;
	}

	.footer {
		width: 100%;
		text-align: center;
	}

}